
button {
  border: 1px solid var(--color-rose-300);
  border-radius: 10rem;
  cursor: pointer;
  font-size: 10px;
  line-height: 1.2;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  white-space: nowrap;
  color: var(--color-rose-900);
  background: #fff;

  &:hover {
    border-color: var(--color-red);
    color: var(--color-red);
  }

  type-icon {
    --icon-size: 12px;
  }

  /* Tamaños */
  &.s {
    font-size: 0.875rem;
    padding: 0.4rem 0.75rem;
  }

  &.m {
    font-size: 1rem;
  }

  &.l {
    font-size: 1.3rem;
  }
}
