 .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px 24px;
      max-width: 1440px;
        margin: 1.5rem auto 0 auto;
    }

    @media (max-width: 900px) {
      .products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    @media (max-width: 600px) {
      .products {
        grid-template-columns: 1fr;
      }
    }