:host {
  display: block;
}
.product-card {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  margin-bottom: 1rem;
}

.button {
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}

type-text:first-child {
  --text-color: var(--color-rose-500);
}

type-text:last-child {
  --text-color: var(--color-red);
}

.product-info {
  display: grid;
  gap: 1px;
}
