@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 600 700;
}

:root {
  /* Fonts */
  --font-family: "Red Hat Text", sans-serif;
  --font-family-primary: var(--font-family);

  /* Font Weights */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Colors */
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  --color-rose-50:#fcf8f5;
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
  --text-color: var(--color-rose-900);
  --text-secondary: var(--color-rose-500);

  /* Typography */
  --font-size-body: 16px;

  /* Border Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 24px;

  /* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  padding: 50px 7.75%;
  font-family: var(--font-family);
  background: var(--color-rose-50);
  font-size: 16px;
}

@media (max-width: 700px) {
  body {
    padding: 32px 24px;
  }
}

